@media screen and (max-width:670px){
    main{
        margin: 0px;
        padding: 0px;
    }
    img{
        border-radius: 0px;
        height: 200px;
    }
    #content{
        padding: 0px 30px;
    } 
}